<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8WSY1LX9NG"></script>
  <script>
    if (location.hostname == 'graph.akadako.com') {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-8WSY1LX9NG');
    }
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="google" content="notranslate">
  <meta property="og:title" content="TFabGraph[AkaDako版]" />
  <meta property="og:url" content="<%= BASE_URL %>" />
  <meta property="og:image" content="<%= BASE_URL %>img/ogpimage.png" />
  <meta property="og:site_name" content="TFabGraph[AkaDako版]" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="website" />
  <meta name="keywords" content="TFabWorks,ティーファブワークス,TFabGraph,TFabGraph[AkaDako版],生徒,chromebook,windows,GIGAスクール">
  <meta name="description" content="AkaDakoの各種センサデータをグラフ化やダウンロード出来るサービスです。XX" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@TFabWorks" />
  <meta name="twitter:image" content="<%= BASE_URL %>img/ogpimage.png" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="https://graph.tfabworks.com/img/favicon.ico" />
  <title>TFabGraph[AkaDako版]</title>
  <style type="text/css" media="print">
    .main-header,
    #wrapper,
    .button_bar {
      display: none !important;
    }

    .content-area {
      background: #fff !important;
      width: 100% !important;
    }

    .content-box {
      border: none !important;
    }

    #line-chart {
      width: 100% !important;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but TFabGraph[AkaDako版] doesn't work properly without JavaScript
      enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="scratch-link-extension-script" class="blocklyToolboxDiv"></div>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>